<div class="wapper">
  <span class="box">Garbage Code: {{measurement.Garbage.GarbageCode}}</span>
  <span class="box">City:{{measurement.Garbage.City}}</span>
  <span class="box">Area:{{measurement.Garbage.Area}}</span>
  <span class="box">Street:{{measurement.Garbage.Street}}</span>
  <span class="box">Sensor Name:{{measurement.Garbage.SensorName}}</span>
  <span class="box">Date:{{measurement.MeasurementTime | date:"dd/MM/yy hh:mm"}}</span>
  <span class="box">Distance:{{measurement.Distance}}</span>
</div>